.bash_history
.zshrc.*
.zshrc-*
.zsh_history
.zcompdump
.vimrc
.vim/
.viminfo
.vim-go/
.DS_Store
.Trash/
.cache/
.rubies/
.ssh/
.subversion/
.gem
.mysql_history
.lesshst
.irb_history
.pry_history
.htoprc
.cups
.npm
.gnupg
.keybase*
.rediscli_history
