.DS_Store
.Genymobile/
.IdeaIC1*
.Trash/
.android
.aws/
.bash_history
.berkshelf/
.boot2docker/
.boto
.bundle/
.cache/
.cargo/
.chef
.cocoapods/
.config
.cups
.docker/
.elm/
.emacs.d/
.erlang.cookie
.gem
.gnupg
.gradle
.heroku
.htoprc
.idea-build/
.irb_history
.ivy2
.keybase*
.kube/
.lesshst
.local
.m2
.mysql_history
.netrc
.node-gyp/
.npm
.nvm/
.oracle_jre_usage/
.pry_history
.psql_history
.rediscli_history
.rubies/
.sbt
.scala_history
.ssh/
.subversion/
.terraform.d/
.tmux/
.vagrant.d/
.vim-go/
.vim/
.viminfo
.vimrc
.vscode/
.wget-hsts
.yarn-cache/
.yarn/
.zcompdump
.zsh_history
.zshrc-*
.zshrc.*
.zshrc_private
VirtualBox VMs/
bin/
