.bash_history
.zshrc.*
.zshrc-*
.zsh_history
.zcompdump
.vimrc
.vim/
.viminfo
.vim-go/
.DS_Store
.Trash/
.cache/
.rubies/
.bundle/
.ssh/
.subversion/
.gem
.mysql_history
.lesshst
.irb_history
.pry_history
.htoprc
.cups
.npm
.gnupg
.keybase*
.rediscli_history
.scala_history
.sbt
.ivy2
.chef
.config
.heroku
.netrc
.m2
.IdeaIC1*
.erlang.cookie
.zshrc_private
.psql_history
.android
.gradle
.idea-build/
.cocoapods/
.Genymobile/
.local
.node-gyp/
.boot2docker/
.oracle_jre_usage/
.docker/
.wget-hsts
.emacs.d/
.aws/
.vagrant.d/
.berkshelf/
.terraform.d/
.yarn/
.yarn-cache/
.elm/
bin/
VirtualBox VMs/
